<div class="container mt-5">
  <div  *ngIf="!registerMode" style="text-align: center">
    <h1>Keşfedilmeyi bekleyen kitaplar var..</h1>
    <p class="lead">Hoşgeldiniz.Bir kitap önerisi alabilmek için lütfen oturum açınız.</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registertoggle()">Kaydol</button>
      <button class="btn btn-info btn-lg">Fazlası</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
