.card{
    border:none;
}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}
.rounded-circle{
    width:50px;
    height:50px;
}
.card-body{
    overflow-y: scroll;
    height: 400px;
}
