<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class=container>
      <a class="navbar-brand" [routerLink]="['/home']" >Randevun</a>

      <ul *ngIf="loggedIn()"  class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/members']" >Yakaladıklarım 
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']" >Listem</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']" >Mesajlarım</a>
        </li>    
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
         Hoşgeldiniz {{authService.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profil Düzenle</a>
          <div class="dropdown-divider">
          </div>
          <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> Oturum Kapat</a>
        </div>
      </div>
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" placeholder="Kullanıcı Adı" 
        name="Username" required [(ngModel)]="model.Username">
        <input class="form-control mr-sm-2" type="password" placeholder="Şifre" 
        name="Password" required [(ngModel)]="model.Password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Oturum Aç</button>
      </form>
  </div>
  
</nav>