<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
                <h1>{{user.knownAs}} Hakkında</h1>
        </div>
       <div class="col-sm-8">
           <div *ngIf="editForm.dirty" class="alert alert-info">
               <p>
                   <strong>
                       Hatırlatma :
                   </strong> Kaydedilmeyen değişimler kaybolacaktır !
               </p>
           </div>
       </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../../../assets/user.png'}}" alt="{{user.knownAs}}">
                <div class="card-body">
                    <div>
                        <strong>Mekan : </strong>
                        <p>{{user.city}},{{user.country}}</p>
                    </div>
                    <div>
                        <strong>Yaş : </strong>
                        <p>{{user.age}}</p>
                    </div>
                    <div>
                        <strong>Aktif Zamanı : </strong>
                        <p>{{user.lastActive | date:'medium'}}</p>
                    </div>
                    <div>
                        <strong>Katılım : </strong>
                        <p>{{user.created | date:'medium'}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class=button-group>
                            <button [disabled]="!identityForm.dirty" form="identityForm" class="btn btn-success">Kullanıcı Kaydet</button>
                            <button [disabled]="!editForm.dirty " form="editForm" class="btn btn-dark btn">Profili Kaydet</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel ">
                <tabset class="member-tabset">
                        <tab heading="Kullanıcı Bilgileri">
                                <form #identityForm="ngForm" id="identityForm" (submit)="updateIdentifyUser()">                                   
                                        
                                        <div class="form-vertical">
                                            <label for="username">Kullanıcı Adı</label>
                                            <input name="username" type="text" class="form-control text m-2" [(ngModel)]="userIdentity.username">
                                            <label for="dateOfBirth">Doğum Tarihi</label>
                                            <input name="dateOfBirth" type="datetime" class="form-control  m-2" [(ngModel)]="userIdentity.dateOfBirth">
                                            <label for="city">Şehir</label>
                                            <input name="city" type="text" class="form-control text m-2" [(ngModel)]="userIdentity.city">
                                            <label for="country">Ülke</label>
                                            <input name="country" type="text" class="form-control text  m-2" [(ngModel)]="userIdentity.country">
                                        </div>
                                </form>
                            </tab>
                    <tab heading="Profil Bilgileri">
                        <form #editForm="ngForm" id="editForm" (submit)="updateUser()">
                            <h4>Kendinden Bahset Bize</h4>
                            <textarea name="introduction" rows="6" class="form-control"
                                [(ngModel)]="user.introduction"></textarea>
                            
                            <h4>Aradıkların ?</h4>
                            <textarea name="lookingFor" rows="6" class="form-control"
                                [(ngModel)]="user.lookingFor"></textarea>
                                <h4>Seni ilgilendiren Şeyler</h4>
                            <textarea name="interest" rows="6" class="form-control"
                                [(ngModel)]="user.interest"></textarea>
                               
                        </form>
                    </tab>
                    <tab heading="Fotoğrafları Düzenle">
                       <app-photo-editor [photos]="user.photos" 
                       (getProfilePhotoChanged)="updateProfilePhoto($event)">
                    </app-photo-editor>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>