<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
<img src="{{photo.url}}" class="img-thumbnail p-1" alt="">
<div class="text-center">
  <button type="button" class="btn btn-sm">Profil Resmi</button>
  <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
</div>
  </div>
</div>

<div class="row">
 
  <div class="col-md-3">

      <h3>Dosya Seçin</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center nb-3 my-drop-zone">
           <i class="fa fa-upload fa-3x"></i>
          Fotoğraf Bırak
      </div>

      Çoklu
      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

      Tek
      <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

      <h3>Yükleme Kuyruğu</h3>
      <p>Bekleyen : {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">Ad</th>
              <th>Boyut</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>          
          </tr>
          </tbody>
      </table>

      <div>
          <div>
              Yükleme Kuyruğu Süreci:
              <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Hepsini Yükle
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Hepsini İptal Et
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span>Hepsini Kaldır
          </button>
      </div>

  </div>

</div>